.confidence_list {
  display: flex;
  flex-wrap: wrap;

  & > li {
    width: 45%;
  }
  & > li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  & > li::before {
    content: '';
    display: inline-flex;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    align-items: flex-end;
    background: rgb(48, 47, 112);
  }
}
