.confidence_list {
  & > li::before {
    content: '';
    display: inline-flex;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    align-items: flex-end;
    background: rgb(48, 47, 112);
  }
@media screen and (max-width: 767px){
  &>li:not(:last-child){
    margin-bottom: 10px;
  
  }

}
@media screen and (min-width: 768px){
  display: flex;
  flex-wrap: wrap;

  & > li {
    width: 45%;
  }
  & > li:not(:nth-child(2n)) {
    margin-right: 30px;
    margin-bottom: 10px;
  }
}
}
@media screen and (max-width: 767px){
  .confidence_titl{
    margin-bottom: 15px;
    text-align: center;
  }
  .confidence_inf__box{
    padding-top: 0;
    
  }
  .confidence__container{
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px){
  .confidence_titl{
    margin-bottom: 15px;
  }
}
