.visuality__container {
  display: flex;
  @media screen and(max-width: 767px){
    flex-direction: column-reverse;
  }
}
.visuality__tittle {
  text-align: center;
  margin-bottom: 25px;
}
.visuality_img__box {
  width: 250px;
  height: 250px;
  margin-right: auto;
  margin-left: auto;
  background: rgb(61, 57, 57);
  margin-bottom: 20px;
 @media screen and (min-width: 768px){
  margin-left: 40px;
  margin-bottom: 0;
  margin-right: 0;
 }
  
}
.visuality__text {
  font-size: 400;
  font-size: 20px;
  width: 100%;
}
.visuality__button {
  margin-top: 20px;
  display: flex;
}
.visuality__button > li {
  display: flex;
  font-size: 400;
  font-size: 10px;
  height: 40px;
  width: 150px;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 63, 119);
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
  @media screen and(max-width: 767px){
   &:last-child{
     margin-right: 0;
   }
  }
  & > a {
    color: #ffffff;
  }
}
.call_you {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: flex;
  font-size: 400;
  font-size: 10px;
  height: 40px;
  width: 150px;
  align-items: center;
  justify-content: center;
  background-color: rgb(100, 100, 100);
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
}
